@import './a.css';

body {
  background-color: coral;
  transform: translateY(50px);
}

#css-img {
  width: 100px;
  height: 100px;
  background-image: url(./head-img.png);
  background-repeat: no-repeat;
  background-size: contain;
}

body > div {
  margin-bottom: 10px;
}
